body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #721616;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 300px;
    background-color: #048177;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
}

.display {
    grid-column: span 4;
    font-size: 24px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 20px;
    border: 5px solid #721616;
}

.btn {
    font-size: 20px;
    padding: 10px;
    background-color: #e0e0e0;
    border: 3px solid #721616;
    border-radius: 10px;
    cursor: pointer;
}

.btn.operator {
    background-color: #f0a830;
    color: white;
}

.btn.equal {
    background-color: #2dbd2d;
    color: white;
}

.btn.clear {
    background-color: red;
    color: white;
}